sudo: required
language: bash
services: docker
env:
  matrix:
    - RUNTIME=python2.7
    - RUNTIME=python3.6
    - RUNTIME=nodejs6
    - RUNTIME=nodejs8
    - RUNTIME=nodejs10
    - RUNTIME=nodejs12
    - RUNTIME=java8
    - RUNTIME=java11
    - RUNTIME=php7.2
    - RUNTIME=custom
    - RUNTIME=dotnetcore2.1
  global:
    - REPO=aliyunfc
    - secure: iDybJtIk4DuYBKkLxAumbXLruBSRR3LY9QNJ8neGkKd9DHU3+4TP6sYimsXtT5PVx/Jx3F7jb+t0Q4r6xx5bxGC7hKnzDjV1uH6QxvqgkOcPTLudCwo/ckZIpwG2rNTtLNycyCtrJhnwVeOU3JT+BTXBz5OMge/FT43+EiiD9AEw0+tzTx2Z7WReSsg9QXQpOST9TcKq4vK/mqHtRtlvrb7ayhGve+lP6zDxmRHmXLwyQ+60G348Li4xT7/CHoba7BdmKsflo2QIvLzQ9yBIk3yPmLdDLyacxAAqpdJSfS0Wce+FPf17Gi2O1nMyWMQu+mZdPX96g5ehIZRnIKQ3se1DhAE/B0DBMcCF452EnaEMRIGuCcNNE34sW3i58l3EBw0xbiM3iHHPXtuCIRExvprkq8zipTt6oxXecwO+9fJIz0NDZ56jQzj1O34HiUXCII1MHzCOKCyzqdc4I1qy9FN1oCVCcvoPqRfJCZ0ZvaidFUaYIgzVDpMwLFWudDUr8+kHe6N6fIbRh9sj4mwZN8xbxIBk85GoSQUG15PA9bc2H1xA1DHttrLVTCzlt4mDxYCIS591qHNWOi2by7teRpOYzSHv1AAR5jfIIkYBcoM49WUMOFTAtK9ZSJLVXAFuqOs6yapp2HDHcJ+TjV4cOEH4aHLc8xCzH7abo9vGM9I=
    - secure: YEMnLleD1rYClT9cSy1KAOC6caloKXWTTFXaP/h6wrsiKhfeHjgKIMAwjUxV5encYb41b2CKcth+oaQOQngYiXhRhfGEoX0D3nDJd+VAx3EfF98fS6Xromky2x02/04AsV1nRIW+cDV/sNEunaNZgV6QC6VgNuyqNSRAfiZuLr5DezRAZ3VdWjOitD3gHLlnLjwGG4tLd1Eijtab3kiXZB7DoVxoitTe+Wo4Nsf7rJOvP88eMjtA4jE0dvXhBqBQIeq6Ar/3eP0g9us64lxR2JZt5AdKAupxeKSWfeEL2clXPyFZ1uQjRPVWg0HH+aJRWCY3E0bjneidPSEBrhSEURMLuw6+q+nHFwWJlarYfWZ6WkktZH9fwXrvaaRBlZH62rdP4Is8TjJHb39JLFNJ7kCq7BlVrZg7QITIl09LFTT/hQqKpdvQY3n19xtaWbpkYoyP59jwTIyyDdM+zwsj1bgnYqqtu83BT2TBQFQNdkPBI7zqrUbT27a20ynImydu8B76vAm2aB9Yne0OfRZWdbiBrDA+TxjIUxmG4igLev84fL+VxG1jne1Kwk+/qfHQ56N+/kwCck9Fc0Jqe3d9UfXD48LyE5tPTZ6sywHAC0AGsQNKPwsj39UZF6fzHFYelzHLxVBpotCx6zPHM3VdpVvfjVHr5TDu0ERjmwsmO9g=
    - secure: eVWI38L1d4nw0Trv7p72WsXF51bKF2icSFSz3RbjlG+S/ucid9qjKEF0yPFwrYYhsbyF7JD1Ikbj99Gqn92sXImEYW1CpquNRgk4Y4rnSLcnWxS5IydK3DBjSLzDkdPpzc1D91qaQNVkEzkpwhMXSLMOov5+/+E4OEHGY/XH4P6+2ypx6mQmzVTNkYk4zDZs9Awv4dU1Z+12eQxVMtiIa2nxFdHHRz7avaNosnuPUo0YY5O02Z41t4jNTRLCYCNuLnXWo9qdMaLWYFpkxpP2pTeAoVHe5GVO/fAaZuFfmERxUszyDN1/tZ0pELbQoOlkY34Sda9qzogMpHb7ZaGYcpbM3c8t8LuNbLnqx0NrO3g+gLwDb8wlBZMLC9dv/4SCTfR2ryKX86rwhrtH3gmfsrw8UkluqQKZrnsetbgC9DUBQE2IAcN57Xegxqw3Z27vKpStyqW3EkBbDcQnKwDsXpTMPpVDRIyPaqp7cgp4ZT4bI3NC4i/oF5saRtT7mfC+sF+8Hc4hpbKR9Qg7MVbhoTPj6KozIGUelLI1dY9cdz8U8Q2JsYxtCi7QyVCKcfcqZKJQxQji85wEMGqleNU1OHEmEgGfamkwCNgko7AfVLDbssrnqeQF6rVUCQYGdgQfYzcK9iBModCvEK99GmmiIpysgXYdjfDrFUXCuOGf6vQ=
    - secure: Qs85+mcuTApZVe1S8X3H9A3zaGOP32bhkxrqgys/Fh+TxFNQ6sACrP1MrGh8TOp5kM1hYAf0rF43jKWfh53REdbq/6Tyd3TEuUdqTI4O/oWCa7nELdjpMciqvdpPyB0k4PKZr8R9+48QTN740urdZxiwCmlioFxeJ8ckNsjVHpD/mNaHcjVq+26IkTpzIq2Ufvaf8wEjFGv/DltIWMh8Dqk07HB6Mwf1bFjYu9ktHmlwQo8atonPaT21gPER1XnJOb8xR0bhdlwXZPBg1npGVQ/hi/MFvSsTOYDS5cU4dMtkzf3TzgVK5idXMCZI73zFgcZzD2LtftMFqDRXIIntKnfbYGJG5Z66bfLr7D6ZUCmox9BMDff4la4L+SMlAW30/11k7AejdPJLoThUtDCtTfWEyQe98CsNAy06atT/YkhyYsWMa4rbbeWiQAVP7QLmX+npPqMXq308RyrwNt3R579p51zTT5+lMoI360Gxsf+C+pK56kR1nAuZyzB8JRNg6UZT45vYSI9A5G3Fj2A9ej564kq+3+/SlAH75h5phyo5B8SX7McDylJIvlAZij7Eyi7Cwzyt/pg38H1FWCal1gKfC6mQ/zCmvZoW1MGcJx65TmTkVxge7PI6iTgMQhLNR48SbK+6LsNFfJPlcSajpl2xzQUk2Wd32aqLodaHnJg=
before_script:
  - env | sort
script:
  - travis_wait 45 make build TAG="$TRAVIS_TAG";
  - make test;
  - if [ "$TRAVIS_BRANCH" != "master" ] && [ -z "$TRAVIS_TAG" ]; then travis_terminate
    0; fi
  - if [ -n "$TRAVIS_TAG" ]; then make push TAG="$TRAVIS_TAG"; fi
  - if [ -n "$TRAVIS_TAG" ]; then make update-latest; fi
  - if [ -n "$TRAVIS_TAG" ]; then make push TAG="$TRAVIS_TAG" REGISTRY="registry.cn-beijing.aliyuncs.com"; fi
  - if [ -n "$TRAVIS_TAG" ]; then make update-latest REGISTRY="registry.cn-beijing.aliyuncs.com"; fi
